streamlit
transformers
torch==2.0.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
scikit-learn
pandas
numpy
opencv-python-headless
moviepy
keybert
librosa
soundfile
edge-tts
pytrends
